body {
    background-color: #008056;
    color: #F0ECDD;
    font-family: 'Helvetica Neue', 'Helvetica'
}

h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

/* Object IDs */
#buttons {
    padding-bottom: 10px;
    
}

#container {
    padding: 10px;
}

/* #buttons button {
    background-color: #F0ECDD;
} */

#image {
    padding: 5px
}

#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
}

#welcome {
    display: flex;
    justify-content: center;
}

#socials {
    display: flex;
    justify-content: center;
    padding: 10px;
}

/* Classes */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

.btn {
    margin: 1px;
}

.image {
    margin-block: 15px;
    margin-inline: 15px;
    width: 200px;
    height: 200px;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}