body {
    background-color: #008056;
    color: #F0ECDD;
    font-family: 'Helvetica Neue', 'Helvetica'
}

h1 {
    text-align: center;
    font-weight: bold;
}

#container {
    padding: 10px;
}

#image {
    padding: 5px
}

#hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#welcome {
    display: flex;
    justify-content: center;
}

#socials {
    display: flex;
    justify-content: center;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    height: 100px;
}

#logo {
    position: absolute;
    top: 30px;
    left: 60px;
}

#mascot {
    position: absolute;
    top: 20px;
    right: 60px;
}

/* Classes */
.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
  }

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
  }

.btn {
    margin: 2px;
    padding-inline: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 10px;
    min-width: 30px;
}



.image {
    margin-block: 15px;
    margin-inline: 15px;
    width: 200px;
    height: 200px;
}

.pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px
}

.bear {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

/* .label {

} */